@page
@model Hr.RazorApp.AddressPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Address</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.SysUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.SysUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.SysStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.SysStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.SysEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.SysEnd)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Address.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
