@page
@model Hr.RazorApp.Address.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.SysUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.SysUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.SysStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.SysStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.SysEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.SysEnd)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Address.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
